body {
  background-color: #eae6d1;
  font: 14px/22px "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #666;
  font-weight: 300;
}

h1 {
  font-size: 28px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin: 0 0 10px;
}

.bg {
  background: #eae6d1;
  width: 100%;
  height: 100vh;
  background-size: 100%;
}

.main {
  padding-top: 50px;
}

.navbar {
  background-color: #3f72b3;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
}

.btn-custom {
  border: 1px solid #f5bd16;
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4),
    0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffe788;
  color: #333;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.nav-link {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 20px;
  margin: 0px;
}

.navbar-brand {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 30px;
}

.jumbotron {
  margin: 20px 150px;
  background: #ffcc00;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.main .jumbotron .container p {
  font-size: 5em;
}

.sections {
  margin-top: 70px;
}

.card {
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09),
    inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5),
    inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.list-group-item {
  font-size: 0.7em;
}

.login-form-container {
  position: absolute;
  top: 35vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

#file-list {
  margin-left: 5px;
}

.scrollbar {
  position: relative;
  height: 700px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

#editor-title {
  padding: 2px;
  border-style: solid;
  border-width: thin;
  border-color: #dededf;
}

#editor-section {
  margin: 5px;
}

#files-toggle {
  padding-top: 5px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-size: 24px;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
