{% extends "login_layout.html" %}

{% block title %}OpenPecha | Register{% endblock %}

{% block form_content %}
<form method="POST" action="" class="login-form-container">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        <div class="form-group">
            {% if form.secret_key.errors %}
            {{ form.secret_key(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.secret_key.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.secret_key(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="from-group">
        {{ form.submit(class="btn btn-primary btn-block" )}}
    </div>
</form>
{% endblock %}